*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.scene{
    position: relative;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.scene.active{
    background:linear-gradient(#ffeb3b, #ff9900);
}
.moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}
.scene.active .moon{
    left: 200px;
    box-shadow: 0 0 0 20px rgba(255, 255,255, 0.5),
                0 0 0 40px rgba(255, 255,255, 0.5),
                0 0 0 80px rgba(255, 255,255, 0.3),
                0 0 0 120px rgba(255, 255,255, 0.3),
                0 0 0 180px rgba(255, 255,255, 0.2),
                0 0 0 240px  rgba(255, 255,255, 0.1);
}
.moon::before{
    content:'' ;
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    cursor: pointer;

}
.scene.scene.active .moon::before{
    opacity: 0;
}
.forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(1.2);
    z-index: 1001;
}
.scene.active .forest{
    bottom: -100%;
}
.scene i{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: starAnimation infinite linear;
    z-index: 6;
}
@keyframes starAnimation {
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    10%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}
.scene.active i {
    display: none;
}

.cloud1{
    position: absolute;
    z-index: 1000;
    max-width: 600px;
    top: 50px;
    left: 0px;
    animation: animateCloud 100s infinite linear;
}
.cloud2{
    position: absolute;
    z-index: 1000;
    max-width: 200px;
    top: 10px;
    left: 0;
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;

}
.cloud3{
    position: absolute;
    z-index: 1000;
    max-width: 300px;
    top: 250px;
    left: 0;
    animation: animateCloud 65s infinite linear;
    animation-delay: -10s;

}
.cloud4{
    position: absolute;
    z-index: 1000;
    max-width: 150px;
    top: 20px;
    left: 0;
    animation: animateCloud 25s infinite linear;
    animation-delay: -25s;

}
.cloud5{
    position: absolute;
    z-index: 1000;
    max-width: 200px;
    top: 150px;
    left: 0;
    animation: animateCloud 100s infinite linear;
    animation-delay: -20s;

}
.cloud6{
    position: absolute;
    z-index: 1000;
    max-width: 100px;
    top: 200px;
    left: 0;
    animation: animateCloud 105s infinite linear;
    animation-delay: -15s;
}

@keyframes animateCloud {
    0%{
        transform: translateX(-100%) scale(1);
    }
    100%{
        transform: translateX(650%) scale(1.5);
    }
    
}
img{
    pointer-events: none;
}
.bg{
    position: absolute;
    max-width: 100%;
    bottom: 0;
    z-index: 1500;
    transition: 0.5s;
    transform: translateY(100%);
    
}
.scene.active .bg{
    transform: translateY(0%);
}
.scene::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: linear-gradient(transparent,#fff, #2598f3);
    height: 250px;
}
.scene.active::before{
    bottom: 0;
}